extends layouts/login-layout.pug

block content  
    .loginContainer 
        h2 Inscription 

        form#registerForm(method="post", onsubmit="event.preventDefault(); validateForm();") 

            p.errorMessage #{errorMessage}

            input(type="text", name="firstName", placeholder="Prénom", value=firstName required="")
            input(type="text", name="lastName", placeholder="Nom", value=lasttName required="")
            input(type="text", name="username", placeholder="Nom d'utilisateur", value=username required="")
            input(type="email", name="email", placeholder="Email", value=email required="")
            input#password(type="password", name="password", placeholder="Mot de passe", required="")
            input#passwordConf(type="password", name="confPassword", placeholder="Confirmer mot de passe", required="")
            input(type="submit", value="Inscription")
        a(href="/login") Déja inscrtit(e)? Connectez-vous ici


    script.
        let passwordField = document.getElementById('password');
        let passwordConfField = document.getElementById('passwordConf');

        let form = document.getElementById('registerForm')

        function validateForm(){
            if(passwordField.value != passwordConfField.value){
                alert('Les mots de passe ne correspondent pas. Réessayez svp!')
            }
            else{
                form.submit() 
            }
        }